<!-- {% if product_list %}
    <ul>
    {% for product in product_list %}
        <li><a href="/TestModel/{{ product.id }}/">{{ product.zname }}</a></li>
        <li><a href="{% url 'detail' product.id %}">{{ product.zname }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %} -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>React App</title>
    <script>
        window.CSRF_TOKEN = '{{ csrf_token }}';
    </script>
</head>
<body>
    <div id="root"></div>
    <script src="D:\work\Stage fr\XudoX.be\project\pos-front\src\App.js"></script>
</body>
</html>

